body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 20px;
}

.navbar {
    color: #000;
    display: flex;
    align-items: center;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    color: white;
}
.custom-navbar{
    background-color: black;
}
.titulo{
    color: black;
}
.ImgLogo {
    width: 12%;
    height: 12%;
    border-radius: 45%;
}

.titulo {
    margin: 0;
    text-align: center;
    margin-top: 2%;
    font-size: 24px;
    color: #1d3557
}

.info, .juego {
    text-align: center;
    height: 80%;
    width: 80%;
    margin: 10%;
    background-color: #f1faee;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    position: relative;
}